img{
    height: 600px;
    width: 1700px;
}
h1{
    margin-top: 100px;
    margin-left: 50px;
    
}
body{
    background-color: #f7eff1;
}

p{
    margin-top: 50px;
    margin-left: 50px;
}
.img2{
      height: 400px;
      width: 500px;
      margin-top: 60px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    

}
.info2{
     margin-top: 50px;
     text-align: center;
     color:   #800F2F;
}
.card1{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 100px;
   
}
.card-body{
   
    background-color:  #f0d2d8;
    color: black;
    text-align: center;
     
}
.card-text{
   
    text-align: center;
    margin-left: auto;
    margin-bottom: 20px;
    
}
.info2{
    margin-top: 100px;

}
.card2{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 100px;
}
.card-body{
    width: 400px;
}
.card-img-top{
    width: 400px;
    height: 200px;
}